<%- include ('partials/header.ejs') %>
<body>
    <h1>Add Product</h1>
    <div class="col-md-3 offset-md-1" style="background-color: #d0d0e1;">
    <form action="/add-new" method="POST">
        <br>
        Product Id: <input class="form-control" type="text" name="id" /><br>
        Product Name: <input class="form-control" type="text" name="name" /><br>
        Main Category: 
        <select name="MainCategory" class="form-control" onforminput="">
            <option>Select item</option>
        </select>
<br>
        Sub Category:
        <select name="SubCategory" class="form-control" onforminput="">
            <option>Select</option>
        </select><br>
        Quantity: <input class="form-control" type="text" name="qty" /><br>
        Stock Price: <input class="form-control" type="text" name="stkPrice" /><br>
        Selling Price: <input class="form-control" type="text" name="sellPrice" /><br>
        Margin Price: <input class="form-control" type="text" name="marginPrice" /><br>
        <button class="btn btn-outline-submit" value="submit" type="submit">submit</button><br><br>
    </form>
    </div>
</body>
</html>