<div id="footer">
<a id="Contact">
    <div>
        <h1 class='topic'>Contact Us</h1>
        <div id="icon">
            <img src="https://img.icons8.com/color/48/000000/phone.png"/>
            <a href="tel:+94812221914" ><i class="fa-fa-phone" aria-hidden="true">+94812 221 914</i></a>
        </div>
    </div>
</a>
<a id="About">
    <div>
        <h1 class='topic'>About Us</h1>
        <a href="https://www.facebook.com/citysongroup/?epa=SEARCH_BOX"><img src="https://img.icons8.com/color/48/000000/facebook-new.png"/> </a>
        <a href="https://www.instagram.com/angekumburakandy/"><img src="https://img.icons8.com/color/48/000000/instagram-new.png"/></a><br>
        <div class="fb-like" data-href="https://www.facebook.com/citysongroup/" data-width="20px" data-layout="standard" data-action="like" data-size="small" data-share="true"></div> 
    </div>
</a>

<a id="Locate">
    <div>
        <h1 >Locate Us</h1>
        <div id="">
            <img src="https://img.icons8.com/color/48/000000/marker.png"/>
            <h3>No 39 Yatinuwara Ln, Kandy 20000</h3>
        </div>
    </div>
</a>
</div>

