<!-- <div id="footer">
<a id="Contact">
    <div>
        <h1 class='topic'>Contact Us</h1>
        <div id="icon">
            <img src="https://img.icons8.com/color/48/000000/phone.png"/>
            <a href="tel:+94812221914" ><i class="fa-fa-phone" aria-hidden="true">+94812 221 914</i></a>
        </div>
    </div>
</a>
<a id="About">
    <div>
        <h1 class='topic'>About Us</h1>
        <a href="https://www.facebook.com/citysongroup/?epa=SEARCH_BOX"><img src="https://img.icons8.com/color/48/000000/facebook-new.png"/> </a>
        <a href="https://www.instagram.com/angekumburakandy/"><img src="https://img.icons8.com/color/48/000000/instagram-new.png"/></a><br>
        <div class="fb-like" data-href="https://www.facebook.com/citysongroup/" data-width="20px" data-layout="standard" data-action="like" data-size="small" data-share="true"></div> 
    </div>
</a>

<a id="Locate">
    <div>
        <br><h1 >Locate Us</h1>
        <div id="">
            <img id="ima" src="https://img.icons8.com/color/48/000000/marker.png"/>
            <h5>No 39 Yatinuwara Ln, Kandy 20000</h5>
        </div>
    </div>
</a>
</div>
 -->

 <!-- Please Subscribe My Youtube Channel
https://www.youtube.com/channel/UCQM5ye1xR4vJgtga0ryud2Q/
-->
<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
    <div class="container">
    <div class="row">
      
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget subscribe no-box">
    <h5 class="widget-title"> Angekumbura Trade Center<span></span></h5>
    <p>About the company, little discription will goes here.. </p>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3" style="margin-left: 200px;">
    <div class="widget no-box" id="locate">
    <h5 class="widget-title">Locate Us <span></span></h5>
    <img id="ima" src="https://img.icons8.com/color/48/000000/marker.png"  width="30" height="30"/>
    <p>No 39 Yatinuwara Ln, Kandy Srilanka</p>
    <!-- <a class="btn" href="#." target="_blank">Register Now</a> -->
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    
    <div class="widget no-box" id="contact">
    <h5 class="widget-title">Contact Us<span></span></h5>
    
    <!-- <p><a href="mailto:info@domain.com" title="glorythemes">info@domain.com</a></p> -->
    <ul class="social-footer2">
        <img src="https://img.icons8.com/color/48/000000/phone.png" width="30" height="30"/>
        <a href="tel:+94812221914" ><i class="fa-fa-phone" aria-hidden="true">+94812 221 914</i></a><br>
    <li class=""><a href="https://www.facebook.com/citysongroup/?epa=SEARCH_BOX" target="_blank" title="Facebook"><img alt="Facebook" width="30" height="30" src="https://img.icons8.com/color/48/000000/facebook-new.png"></a></li>
   <li class=""><a title="instagram" target="_blank" href="https://www.instagram.com/angekumburakandy/"><img alt="instagram" width="30" height="30" src="https://img.icons8.com/color/48/000000/instagram-new.png"></a></li>
   <div class="fb-like" data-href="https://www.facebook.com/citysongroup/" data-width="20px" data-layout="standard" data-action="like" data-size="small" data-share="true"></div> 
    
    </ul>
    </div>
    </div>
    
    </div>
    </div>
    </div>
      
    <div class="footer-copyright">
    <div class="container">
    <div class="row">
    <div class="col-md-12 text-center">
    <p>Copyright Company Name © 2016. All rights reserved.</p>
    </div>
    </div>
    </div>
    </div>
    </footer>
