<!DOCTYPE html>
<html lang="en">
    <head>	<meta charset="utf-8">
        <meta name="description" content="">
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- <link rel="shortcut icon" href="img/favicon.png"> -->
    
        <link hre   f='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet'>
    
        <!-- Syntax Highlighter -->
        <link rel="stylesheet" type="text/css" href="syntax-highlighter/styles/shCore.css" media="all">
        <link rel="stylesheet" type="text/css" href="syntax-highlighter/styles/shThemeDefault.css" media="all">
    
        <!-- Font Awesome CSS-->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- Normalize/Reset CSS-->
        <link rel="stylesheet" href="css/normalize.min.css">
        <!-- Main CSS-->
        <link rel="stylesheet" href="css/main.css">
       <link href="/css/homeStyles.css" type="text/css" rel="stylesheet">
</head>
<body id="welcome">
    <div class="logo">
   <h1>LOGO HERE..</h1> <br>
</div>
<div id="search-section">
   <h2>Search Bar here + login,signup,cart icons..</h2><br>
</div>
<div id="taskbar">
    <h3>Task bar here..</h3><br>
 </div>
