<!DOCTYPE html>
<html lang="en">
    <link href="/css/homeStyles.css" type="text/css" rel="stylesheet">
    <div id="logo">
   <h1>LOGO HERE..</h1> <br>
</div>
<div id="search-section">
   <h2>Search Bar here + login,signup,cart icons..</h2><br>
</div>
<div id="taskbar">
    <h3>Task bar here..</h3><br>
 </div>
