<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Cityson</title>
    <link href="/css/homeStyles.css" type="text/css" rel="stylesheet">
</head>
<body>
    <h1 id='Logo'>Angekumbura Trade Center</h1>
    <div id='task-bar'>
        <button name="Login" id="Login">Login</button> 
        <icon name="cart" ></icon>
    </div>
    <div id="Category">
       <ol> 
        <%
        Data.forEach(data=>{%>
            <li><%=data.name %></li>
        <% 
        }) %>      
    </ol>
    </div>
</body>
</html>