<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Cityson</title>
</head>
<body>
    <h1>Angekumbura Trade Center</h1>
    <div id="Category">
       <ol> 
        <%
        Data.forEach(data=>{%>
            <li><%=data.name %></li>
        <% 
        }) %>      
    </ol>
    </div>
</body>
</html>