<%- include('header.ejs'); -%>
<p>Body elements...</p><br>
<div id = "imgBox">

<a href="#">
     <div id="categoryImgBox"> 
        <img id="catImg" src="\CategoryMainImages\img1.jpg" />
        
    </div> 

    <div class="textBox1">
        <p class="text">A car was passing along the road in front of the factory.</p>    
    </div>
        
</a>

<a href="#">
    <div id="categoryImgBox"> 
       <img id="catImg" src="\CategoryMainImages\img2.jpg" />
            
   </div> 
    <div class="textBox2">
        <p class="text">A car was passing along the road in front of the factory.</p>    
    </div>

</a>

<a href="#">
    <div id="categoryImgBox"> 
       <img id="catImg" src="\CategoryMainImages\img3.jpg" />
       
   </div> 
   <div class="textBox3">
        <p class="text">A car was passing along the road in front of the factory.</p>    
    </div>
     
</a>


</div>

<br><br><br><br><br>

<!-- #region hot-new items-->
<h1 id="hot-new">Hot & New</h1><br><br>
<div class="items-section">
    <% 
    let i = 1;
    while(i <= 4){ %>
    <div id="item-<%=i %>" class="item-container">
        content here..
    </div>
    <% 
    i++; 
    } 
    %>
</div>
<br><br>
<!-- #endregion -->

<!-- #region new-arrivals-->
<h1 id="hot-new">New Arrivals</h1><br><br>
<div class="items-section">
    <% 
    let j = 1;
    while(j <= 4){ %>
    <div id="item-<%=j %>" class="item-container">
        content here..
    </div>
    <% 
    j++; 
    } 
    %>
</div>
<br>
<!-- #endregion -->

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="Jj23YxA2"></script>
</body>
<%- include('footer.ejs'); -%>
