<%- include('partials/header.ejs') %>
<div id = "mainBody">
<br>

<div id = "imgBox">
<% for(let i = 0; i < 5; i++){ %>
<a href="#" >
    <div class="categoryImgBox"> 
        <img src="images/Cart.png" >
    </div> 
    <div class="textBox">
        <p class="text">test</p>    
    </div>
</a>      
<% } %>

</div>

<br>

<!-- #region hot-new items-->
<h1 id="hot-new">Popular Products</h1><br><br>
<div class="items-section">
    <% 
    let i = 1;
    while(i <= 4){ %>
    <a href="#" id="item-<%=i %>" class="item-container" style="text-decoration: none;">
        <p>A paragraph is a series of related sentences developing a central idea, 
            called the topic. Try to think about paragraphs in terms of thematic unity:
             a paragraph is a sentence or a group of sentences that supports one central, unified idea. 
             Paragraphs add one idea at a time to your broader argument.</p>
    </a>
    <% 
    i++; 
    } 
    %>
</div>
<br><br>
<!-- #endregion -->

<!-- #region new-arrivals-->
<h1 id="hot-new" style="margin-top: -30px;">New Arrivals</h1><br><br>
<div class="items-section">
    <% 
    let j = 1;
    while(j <= 4){ %>
    <a href="#" id="item-<%=j %>" class="item-container" style="text-decoration: none;">
        <p>A paragraph is a series of related sentences developing a central idea, 
            called the topic. Try to think about paragraphs in terms of thematic unity:
             a paragraph is a sentence or a group of sentences that supports one central, unified idea. 
             Paragraphs add one idea at a time to your broader argument.</p>
    </a>
    <% 
    j++; 
    } 
    %>
</div>
<br>

</div>
<!-- #endregion -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="Jj23YxA2"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js" ></script>
<script src="/menu.js"></script>
<script src="/configStyles.js" ></script>
<script src = "https://cdn.rawgit.com/scottjehl/picturefill/3.0.2/dist/picturefill.js" async></script>
</body>
<%- include('partials/footer.ejs') %>
