<%- include('header.ejs'); -%>
<p>Body elements...</p>
<div id = "imgBox">

<a href="#">
     <div id="categoryImgBox"> 
        <img id="catImg" src="\CategoryMainImages\img1.jpg" />
        
    </div> 

    <div class="textBox1">
        <p class="text">A car was passing along the road in front of the factory.</p>    
    </div>
        
</a>

<a href="#">
    <div id="categoryImgBox"> 
       <img id="catImg" src="\CategoryMainImages\img2.jpg" />
            
   </div> 
    <div class="textBox2">
        <p class="text">A car was passing along the road in front of the factory.</p>    
    </div>

</a>

<a href="#">
    <div id="categoryImgBox"> 
       <img id="catImg" src="\CategoryMainImages\img3.jpg" />
       
   </div> 
   <div class="textBox3">
        <p class="text">A car was passing along the road in front of the factory.</p>    
    </div>
     
</a>


</div>

<br>

<h1>yo whtasippppp</h1>



</body>
<%- include('footer.ejs'); -%>
