<%- include('header.ejs'); -%>
<p>Body elements...</p>
<div id = "imgBox">

<a href="#">
     <div id="categoryImgBox"> 
        <img id="catImg" src="\CategoryMainImages\img1.jpg" />
        
    </div> 

    <div class="textBox1">
        <p class="text">A car was passing along the road in front of the factory.</p>    
    </div>
        
</a>

<a href="#">
    <div id="categoryImgBox"> 
       <img id="catImg" src="\CategoryMainImages\img2.jpg" />
            
   </div> 
    <div class="textBox2">
        <p class="text">A car was passing along the road in front of the factory.</p>    
    </div>

</a>

<a href="#">
    <div id="categoryImgBox"> 
       <img id="catImg" src="\CategoryMainImages\img3.jpg" />
       
   </div> 
   <div class="textBox3">
        <p class="text">A car was passing along the road in front of the factory.</p>    
    </div>
     
</a>


</div>

<br>

<h1>yo whtasippppp</h1>



<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="Jj23YxA2"></script>
</body>
<%- include('footer.ejs'); -%>
