<%- include('header.ejs'); -%>
<p>Body elements...</p>
<div id = "imgBox">

<a href="#">
     <div id="categoryImgBox"> 
        <img id="catImg" src="\CategoryMainImages\img1.jpg" />
        
    </div> 
</a>

<a href="#">
    <div id="categoryImgBox"> 
       <img id="catImg" src="\CategoryMainImages\img2.jpg" />
            <div class="textBox">
                <p class="text">These are some of the finest toys we have right now,.Shop Now and get discounts and offers</p>    
            </div>
   </div> 
</a>

<a href="#">
    <div id="categoryImgBox"> 
       <img id="catImg" src="\CategoryMainImages\img3.jpg" />
       
   </div> 
</a>


</div>

<br>

<h1>yo whtasippppp</h1>



</body>
<%- include('footer.ejs'); -%>
