    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    /* height: 48px; */
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-radius: 30px;
    border-style: groove;
    /* padding: 5px; */
    }

    .search_input{
    color:black;
    border: 0;
    margin-left: 10px;
    outline: 3px;
    height: 40px;
    background: none;
    width: 450px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    height: 40px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    border-color: black;
    border-width: 3px;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:rgb(10, 10, 10);
    text-decoration:none;
    }

    #logo{
    background-color: black;
    }

    #search-section{   
        background-color: white;
        height: 40px;
    }

    #cart{
        position: absolute;
        margin-left: 285px;
    }

    #h-btn-section{
       position: absolute;
       margin-left: 550px;
    }