    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    height: 48px;
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    border-style: groove;
    width:450px;
    height:35px;
    padding: 5px;
    }

    .search_input{
    color:black;
    border: 0;
    margin-left: 10px;
    margin-top: -5px;
    outline: 3px;
    height: 45px;
    background: none;
    width: 450px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    padding-bottom: 20px;
    }

    .searchbar:hover > .search_input{
    height: 40px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
    border-color: black;
    border-width: 3px;
    margin-left: 20px;
    }

    #search-btn:hover{
    background-color:#d0d0e1;
    }

    #search-btn{
        position: absolute;
        margin-left: 190px;
        background-color: #f0f0f5;
        height: 35px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: none;
        color: black;
    }

    #search-section{   
        position: relative;
        height: 40px;
        margin-top: -80px;
        margin-left: 5%;   
        }

    #cart{
        position: relative;
        margin-left: 750px;
        color:white;
    }

    #cart:hover{
        color: red;
        transition-duration: 0.3s;
        cursor: pointer;
    }

    #h-btn-section{
       position: relative;
       margin-left: 70px;
    }

    #img{
        position:relative;
        width:500px;
        height:110px;
        margin-top: -10px;
        margin-left: -20px;
    }

    
    #categorytextlink{
        text-decoration: none;
    }

/* Style the top navigation bar */
.navbar {
    margin-top: -8px;
    display: flex;
    background-color: #212422;
    justify-content: center;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid darkgray;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    border: 1px solid darkgray;
    border-top: none;
    border-bottom: none;
    color: black;
    background-color: white;
    text-decoration: none;
    transition-duration:0.3s;
  }

  #login-btn{
    border-color: white;
    color: white;
  }

  #login-btn:hover{
      color: black;
      background-color: white;
  }