#logo {
    color: brown;
    text-align: left;
}

#imgBox{
    
    display: flex;
    justify-content: space-around;
}

#categoryImgBox{
    width: 400px;
    height: 550px;
    overflow: hidden;

    transition: transform 0.3s ease-out;
}

#categoryImgBox:hover{
    transform: translateY(-8px);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#catImg{
    width:400px;
    height:550px;
    transition: transform .5s, filter .7s ease-in-out;
  filter: brightness(100%);
}

#catImg:hover{
    filter: brightness(120%);
    transform: scale(1.2);
}

.textBox2{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0px;

    width:300px;
    height: 100px;
    background-color: rgb(72, 228, 66);
    
    
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 2px;

    transition: transform 0.3s ease-out;


    
}

.textBox1{
    position: relative;
    margin-left: 7%;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0px;

    width:300px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    
    
    border-style: solid;
    border-color: white;
    border-width: 2px;

    transition: transform 0.3s ease-out;


    
}

.textBox3{
    position: relative;
    margin-left: auto;
    margin-right: 7%;
    left: 0;
    right: 0;
    bottom: 0px;

    width:300px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    
    
    border-style: solid;
    border-color: white;
    border-width: 2px;

    transition: transform 0.3s ease-out;
    

    
}

#categoryImgBox:hover ~ .textBox2{
    
    transform: translateY(-80px);
    border-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#categoryImgBox:hover ~ .textBox1{
    
    transform: translateY(-80px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color:white;
    
}

#categoryImgBox:hover ~ .textBox3{
    
    transform: translateY(-80px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color:white;
}


.text{
    text-align: center;
    font-family: Helvetica;
    color:black;
    font-size:20px;
    padding: 5px;

    transition: transform 0.3s ease-out;
}

.items-section{
    display: flex;
    justify-content: space-around;
}
 
.item-container{
    box-sizing: content-box;
    border-style: groove;
    width:200px;
    height:275px;
    transition: transform 0.3s ease-out;
}

.item-container:hover{
    transform: scale(1.03);
    

}
